body{
    background-color: #EEE5E9;
    margin: 0;
    padding: 0;
}



.Pealkiri{
    color: white;
    font-family: "Comic Sans", "Comic Sans MS" ;
}

.header{
    background-color: #08415C;
    padding: 5%;
    
}

.sissejuhatus{
    font-family: "Comic Sans MS";
}

.Container{
    display: flex;
    background-color: white;
    flex-direction: row;
    margin: 5%;
    border-left-style: solid;
    border-width: 10px;
    border-color: #CC2936;
    border-radius: 10px 10px 10px 10px;
    align-items: stretch;
    
}

.tekst{
    background-color: white;
    order: -1;
    flex: 40%;
    font-family: "Comic Sans MS";
}

.Pilt{
    align-self: flex-end;
    border-radius: 0px 10px 10px 0;
    height: auto;
}

.pasta{
    border-radius: 0px 10px 10px 0;
    display: block;
}