body{
    background-color: #EEE5E9;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans", "Comic Sans MS" ;
}

.Pealkiri{
    color: white;
}

.Pealkiri1{
    color: #F1BF98;
}

.eluloo_p{
    text-align: center
}

.jutt{
    text-align: center;
    text-align: justify;
}

.sektsioon{
    border-top-style: solid;
    border-color: #CC2936;
}

.header{
    background-color: #08415C;
    padding: 2%;
    text-align: center;
}

.sissejuhatus{
    font-family: "Comic Sans MS";
    font-style: italic;
    text-align: center;
}

.Container{
    display: flex;
    background-color: white;
    flex-direction: row;
    margin: 5%;
    border-left-style: solid;
    border-width: 10px;
    border-color: #CC2936;
    border-radius: 10px 10px 10px 10px;
    align-items: stretch;
}

.tekst{
    background-color: white;
    order: -1;
    flex: 40%;
    font-family: "Comic Sans MS";
    border-left-style: solid;
    border-color: #CC2936;
    text-align: justify;
}

.naudi{
    text-align: center;
}

.koostisosad{
    flex: 40%;
    order: -2;
}

.Pilt{
    align-self: flex-end;
    border-radius: 0px 10px 10px 0;
    height: auto;
}

.pasta{
    border-radius: 0px 10px 10px 0;
    display: block;
}

.jalus{
    background-color: #6B818C;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: small;
}

.nupp{
    background-color: #EEE5E9 ;
    border-radius: 10px;
    padding: 2px;
    border-color: #EEE5E9;
    font-family: 'Comic Sans MS';
    font: bold;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.nupp:hover{
    transform: scale(1.1);
}

.NUPP{
    text-align: center;
}