.Pealkiri{
    color: white;
}

.sissejuhatus{
    font-family: "Comic Sans MS";
    font-style: italic;
    text-align: center;
}

.tekst{
    background-color: white;
    order: -1;
    flex: 40%;
    font-family: "Comic Sans MS";
    border-left-style: solid;
    border-color: #CC2936;
    border-width: auto;
    text-align: justify;
}

.naudi{
    text-align: center;
}

.koostisosad{
    flex: 40%;
    order: -2;
}
