/* Mattias-specific styles */
.appi {
    align-items: center;
    padding: 8px;
}

.alapeakiri {
    min-height: 50px;
    text-align: center;
}

.lühitutvustus{
    text-align: center;
    padding: 1%;
}

/* Container specific to Mattias's page */

.koostisosad {
    flex: 25%;
    padding: 0.2rem;
}

.juhend {
    flex: 40%;
    border-left-style: solid;
    border-color: #CC2936;
    text-align: center;
    line-height: 18pt;
}

/* Mattias-specific layout styles */
.jalga {
    min-height: 50px;
}
