.appi {
    align-items: center;
    background-color: #08415C;
    padding: 8px;
    color: #EEE5E9;
}

body {
    margin: 0;
    font-family: "Comic Sans MS";
    background-color: #EEE5E9;
}

.alapeakiri {
    border-top-style: solid;
    border-color: #CC2936;
    text-align: center;
    color: #F1BF98;
}

.lühitutvustus{
    text-align: center;
}

footer {
    background-color: #6B818C;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
}